<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="language" content="en" />
	<meta name="description" content="New World Of Warcraft Design" />
	<meta name="keyword" content="WoW, Ac0" />
	<meta name="author" content="Ac0" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>
</head>
<body>
	<div class="wrapper" id="wrapper">
		<div id="menu">
			<center>
			<div class="container">
				<ul class="menu">
					<li><a href="#" class="parent"><span>Home</span></a>
						<div style="left: 0;"><ul>
							<li><a href="#" class="parent"><span>Sub Item 1</span></a>
								<div style="left: 0;"><ul>
									<li><a href="#" class="parent"><span>Sub Item 1.1</span></a>
										<div style="left: 0;"><ul>
											<li><a href="#"><span>Sub Item 1.1.1</span></a></li>
											<li><a href="#"><span>Sub Item 1.1.2</span></a></li>
										</ul></div>
									</li>
									<li><a href="#"><span>Sub Item 1.2</span></a></li>
									<li><a href="#"><span>Sub Item 1.3</span></a></li>
									<li><a href="#"><span>Sub Item 1.4</span></a></li>
									<li><a href="#"><span>Sub Item 1.5</span></a></li>
									<li><a href="#"><span>Sub Item 1.6</span></a></li>
									<li><a href="#" class="parent"><span>Sub Item 1.7</span></a>
										<div style="left: 0;"><ul>
											<li><a href="#"><span>Sub Item 1.7.1</span></a></li>
											<li><a href="#"><span>Sub Item 1.7.2</span></a></li>
										</ul></div>
									</li>
								</ul></div>
							</li>
							<li><a href="#"><span>Sub Item 2</span></a></li>
							<li><a href="#"><span>Sub Item 3</span></a></li>
						</ul></div>
					</li>
					<li><a href="#" class="parent"><span>Profile</span></a>
						<div style="left: 0;"><ul>
							<li><a href="#" class="parent"><span>Characters</span></a>
								<div style="left: 0;"><ul>
									<li><a href="#"><span>Ac0</span></a></li>
									<li><a href="#"><span>Milys</span></span></a></li>
								</ul></div>
							</li>
							<li><a href="#" class="parent"><span>Sub Item 2</span></a>
								<div style="left: 0;"><ul>
									<li><a href="#"><span>Sub Item 2.1</span></a></li>
									<li><a href="#"><span>Sub Item 2.2</span></a></li>
								</ul></div>
							</li>
							<li><a href="#"><span>Sub Item 3</span></a></li>
							<li><a href="#"><span>Sub Item 4</span></a></li>
							<li><a href="#"><span>Sub Item 5</span></a></li>
							<li><a href="#"><span>Sub Item 6</span></a></li>
							<li><a href="#"><span>Sub Item 7</span></a></li>
						</ul></div>
					</li>
					<li><a href="#"><span>Community</span></a></li>
					<li><a href="#"><span>Status</span></a></li>
					<li class="last"><a href="#"><span>Donate</span></a></li>
				</ul>
			</div>
			</center>
		</div>
		<center>
		<div class="container">
			<a href="{base_url}"><div class="logo">Cheer - World</div></a>
			<div class="membership">
				<form>
					<input type="text"  value="Account name" onfocus='if (this.value == "Account name") this.value = "";' onblur='if (!this.value){ this.value = "Account name"; }' /> 
					<input type="password" value="passwords" onfocus='if (this.value == "passwords") this.value = "";' onblur='if (!this.value){ this.value = "passwords"; }' />
					<input type="submit" class="login_btn" value="Login"/>
				</form>
				<span class="clear"></span>
			</div>
			<div class="body">
				<div class="left_body">
					<div class="slider"><div style="padding-top: 80px;font-size: 35px">Slider 600x200</div></div>
					<div class="box">
						<div class="box_image"></div>
						<div class="box_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
						Aliquam lacinia arcu sit amet turpis rutrum pretium. Vivamus pretium adipiscing felis in viverra. Praesent cursus blandit orci, eu dapibus nisl porta pharetra. Praesent semper enim et justo eleifend et varius sem pharetra. Vestibulum ante ipsum ...
					</div>
					<div class="box">
						<div class="box_image"></div>
						<div class="box_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
						Aliquam lacinia arcu sit amet turpis rutrum pretium. Vivamus pretium adipiscing felis in viverra. Praesent cursus blandit orci, eu dapibus nisl porta pharetra. Praesent semper enim et justo eleifend et varius sem pharetra. Vestibulum ante ipsum ...
					</div>
				</div>
				<div class="right_body">
					<div class="title">Status</div>
					<div class="content">
						<div class="realm">
							<span class="left" style="font-weight: bold;">Cataclysm</span><span class="right" style="font-weight: bold;color: #31cc33;">Online</span><span class="clear"></span>
							<div class="bonus">
								<span class="left">Type</span><span class="right">PVP Instant 85</span><span class="clear"></span>
								<span class="left">Online</span><span class="right">500/1000</span><span class="clear"></span>
								<span class="left">Max Online</span><span class="right">940</span><span class="clear"></span>
								<span class="left">Uptime</span><span class="right">3 Days 20 Hours 24 Minutes</span><span class="clear"></span>
							</div>
							<div class="online_box"><div class="fill" style="width: 50%;"></div></div>
						</div>
						<div class="realm">
							<span class="left" style="font-weight: bold;">Wrath of The Lich King</span><span class="right" style="font-weight: bold;color: #b13323;">Offline</span><span class="clear"></span>
							<div class="bonus">
								<span class="left">Type</span><span class="right">Instant 80</span><span class="clear"></span>
								<span class="left">Online</span><span class="right">0/1000</span><span class="clear"></span>
								<span class="left">Max Online</span><span class="right">350</span><span class="clear"></span>
								<span class="left">Uptime</span><span class="right">0 Days 0 Hours 0 Minutes</span><span class="clear"></span>
							</div>
							<div class="online_box"><div class="fill" style="width: 0%;"></div></div>
						</div>
						<div class="realm">
							<span class="left" style="font-weight: bold;">The Burning Crusade</span><span class="right" style="font-weight: bold;color: #31cc33;">Online</span><span class="clear"></span>
							<div class="bonus">
								<span class="left">Type</span><span class="right">Blizzlike x15</span><span class="clear"></span>
								<span class="left">Online</span><span class="right">300/1000</span><span class="clear"></span>
								<span class="left">Max Online</span><span class="right">780</span><span class="clear"></span>
								<span class="left">Uptime</span><span class="right">3 Days 20 Hours 24 Minutes</span><span class="clear"></span>
							</div>
							<div class="online_box"><div class="fill" style="width: 30%;"></div></div>
						</div>
						*<small>Status is refreshing every 10 seconds.</small>
						<div class="realmlist">current server time: <u>13:37</u></div>
						<div class="realmlist">set realmlist logon.cheer-world.info</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		</center>
		<div class="clearfooter"></div>
	</div>
	<div class="push"></div>
	<center>
	<div class="container">
		<div class="footer">
			<div id="scale-down" style="height: 37px" class="left">
				<img src="img/logo.png" alt=""><br />&copy; 2012 Cheer - World 
			</div>
			<div class="delimeter left"></div>
			<div class="content">
				<div class="left">
					<a href="#">Home</a>
					<a href="#">Register Account</a>
					<a href="#">How to Connect</a>
					<a href="#">Terms of Service</a>
					<div style="height: 10px;"></div>
					<a href="#">Bulgarian</a>
					<a href="#">Spanish</a>
					<a href="#">English</a>
					<a href="#">Deutsch</a>
				</div>
				<div class="right" style="text-align: right;">
					Designed & Coded <span class="cool">Ac0</span>, Core <span class="cool">Ac0</span>
					<div style="height: 10px;"></div>
					The page load for <span class="cool">0.004</span> sec., Using <span class="cool">2.5</span> mb
				</div>
			</div>
		</div>
	</div>
	</center>
</body>
</html>