* { margin:0; padding:0; }
html, body { height:100%; }
label { cursor: pointer; }
img { border:none; }
body {    
	font-family: tahoma;    
	font-size: 13px;	
	background-color:black;	
	background: url(../img/back.png) repeat center; 
	-webkit-background-size: cover; /* Chrome & Safari */	
	-moz-background-size: cover; /* Firefox */	
	-o-background-size: cover; /* Opera */
	background-size: cover;	
	text-align: center;
}

.body{	font-family: tahoma;}
.hidden {	visibility: hidden;	display: none;}
.label{	margin-top: 12px;}
.right{	float: right;}
.left{	float: left;}
.clear{	clear: both; 	display: block;}
.container {	width:960px;}
.container .content {	text-align: left;}
.active{ font-weight: bold; }

input, textarea, select {
	background-color:#d5d5d5;
	border: 1px solid #BBBBBB;
	padding: 4px;
	color: #5f5f5f;
	margin: 5px 0px 5px 10px;
    width:130px;
	font-size: 10px;
}
input[type="radio"]{
	width: 15px;
}
a {
	color: #333333;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.wrapper{	
	min-height: 100%;
	margin-bottom:-104px;
	position:relative;
}
.push{	
	height:20px;
}
.clearfooter {	
	height: 0px;	
	clear:both;
}
.footer {
	width: 941px;
	height:57px;
	padding: 10px 10px 8px 10px;
	margin-top:5.5px;
	position:absolute;
	z-index:100;
	color: #666666;
	background: url(../img/menu/nav_dropdown_sep.gif) left top repeat-x;
}
.footer .content {
	margin-top: 5px;
}
.footer a.cool {
	padding: 0px 10px;
}
.footer .cool, .footer .cool a{
	font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    color: #787878;
    font-weight:bold;
}

.delimeter{
	height: 37px;
	padding: 8px 0px 12px 0px;
	margin: 0px 10px;
	width: 2px;
	background: #d5d5d5;
	box-shadow: 10px 0px 5px -4px #888888;
}
.logo{
	margin-left: 30px;
	margin-top: 10px;
	width: 556px;
	height: 91px;
	float:left;
	text-indent: -999999px;
	background:url(../img/logo.png) no-repeat;
}
#scale-down img {
	vertical-align: middle; 
	height: 100%;
}
#scale-down {
    height: 37px;
}
.membership {
	text-align: right;
    position: absolute;
    top: 50px;
    min-width: 333px;
	padding: 2px;
	min-height: 32px;
	background: rgb(226,226,226) url(../img/menu/nav_dropdown_sep.gif) left bottom repeat-x;
	z-index: 10;
	float: right;
	margin-left: 611px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    color: #787878;
    font-weight:bold;
}
.membership .content {
	margin: 6px;
}
#addition {
	display: none;
	visibility: hidden;
}
.membership .login_btn {
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width:30px;
	height:30px;
	float: right;
	border: 0;
	background: url(../img/login_button.png) center no-repeat;
	
}
div#menu {
    height:55px;
    background:url(../img/menu/nav-bg.png) repeat-x;
    _background:url(../img/menu/nav-bg.gif) repeat-x;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 11;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 50px;
    width: 208px;
    z-index: 15;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    background: url(../img/menu/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(../img/menu/submenu-bottom.gif);
    margin: 0 0 0 -9px;
}
div#menu li:hover>div {
    visibility: visible;
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 13;
    height: 55px;
    display: block;
    float: left;	
    padding: 0 10px 0 10px;
    line-height: 55px;
    text-decoration: none;
}
div#menu span {
    font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 18px;
    color: #787878;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
    color: #353535;
}

div#menu li { background: url(../img/menu/nav_separator.png) top left no-repeat; }
div#menu li.last span{
    background: url(../img/menu/nav_separator.png) top right no-repeat;
    padding: 18px 10px 16px 0;
}

/* menu::level2 */
div#menu ul ul li {
    background: url(../img/menu/nav_dropdown_sep.gif) left bottom repeat-x;
    padding: 4px 0;
    z-index: 11;	
}
div#menu ul ul {
    z-index: 14;	
    padding: 0;
    background: rgb(226,226,226) url(../img/menu/nav_dropdown_grad.png) right top no-repeat;
    margin-top:0px;
    margin-left:4px;
    margin-right:5px;
}
div#menu ul ul a {
  	width: 184px;
	padding: 0px 7px 3px 8px;
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
	  padding: 0 10px 0px 10px;
    line-height: 20px;
    color: #454545;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu ul ul a:hover {
}
div#menu ul ul a.parent:hover span {
	margin-left: 25px;
}
div#menu ul ul a:hover span {
	text-decoration: underline;
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}
.body{
	width: 100%;
	min-height: 100px;
}
.body .left_body {
	float: left;
	margin: 10px 0px 10px 10px;
	width: 600px;
	min-height: 300px;
	background: #fafafa; 
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-right: 2px solid #d7d7d7;
}
.body .left_body_full {
	float: left;
	margin: 10px 0px 10px 10px;
	width: 100%;
	min-height: 300px;
	background: #fafafa; 
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-bottom: 2px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}
.body .left_body .slider{
	background: #dfdfdf; 
	width:600px;
	height: 320px;
}
.body .left_body .content, .body .left_body_full .content{
	color: #aaaaaa;
	text-align: justify;
	margin:15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	min-height: 222px;
}
.body .left_body .box{
	color: #aaaaaa;
	overflow: hidden;
	text-align: justify;
	width:570px;
	height:90px;
	padding:15px;
	border-bottom: 1px solid #e4e4e4;
}
.body .left_body .box .box_title, .body .left_body .box .box_title a{
	color: #333333;
	padding-bottom: 5px;
}
.body .left_body .box .box_image{
	float: left;
	width: 165px;
	height: 90px;
	background: #333333;
	margin-right: 15px;
}
.body .right_body {
	float: right;
	margin: 10px 10px 10px 0px;
	width: 310px;
	min-height: 100px;
	background: #dfdfdf; 
	border-top: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-bottom: 2px solid #d7d7d7;
	border-right: 2px solid #d7d7d7;
}

.body .left_body_full .title{
	text-align: left;
	color: #333333;
	border-bottom: 2px solid #d7d7d7;
}

.body .right_body .title, .body .left_body .title{
	text-transform:uppercase;
	font-weight: bold;
	text-align: left;
	color: #333333;
	padding: 10px;
	border-bottom: 2px solid #d7d7d7;
}
.body .right_body .content {
	color: #333333;
	padding: 10px;
	width: 290px;
}
.body .right_body .title input{
	margin: 0;
	padding: 5px 22px 5px 7px;
	width: 260px;
	background: url("../img/search_submit.gif") no-repeat right;
}
.body .right_body .content a{
	color: #333333;
}
.body .right_body .content .realm div.bonus {
	display: none;
	visibility: hidden;
	margin: 5px 0px 5px 0px;
}
.body .right_body .content .realm:hover div.bonus {
	display: block;
	visibility: visible;
}
.body .right_body .content .realm .online_box {
	margin: 10px 0px 20px 0px;
	width: 100%;
	background-color: #232323;
	height: 10px;
}
.body .right_body .content .realm .online_box .fill{
	background-color: #239e9c;
	height: 10px;
}
.body .right_body .content .realm .online_box .fill span{
	font-size: 10px;
}
.body .right_body .content .realmlist {
	font-weight: bold;
	padding: 6px 0px;
	margin: 10px 0px;
	text-align: center;
	width: 100%;
	border: 1px solid #cccccc;
	background-color: #fff;
}

/* Forum Menu */

.forum_menu {
	background: #dfdfdf; 
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 32px;
}
.forum_menu li {
	float: left;
	font: 12px "Arial Black";
	margin: 0;
	padding: 0;
}
.forum_menu a {
	background: #dfdfdf; 
	display: block;
	float: left;
	margin: 0;
	padding: 8px 12px;
	padding-right: 25px;
	text-decoration: none;
	font-weight:normal;
	background: url('../img/delimeter.png') right top no-repeat;
}
.forum_menu a.last {
	background: none;
}

.forum_menu a:link, .forum_menu a:visited{
	color: #787878;
}

.forum_menu a:hover {
	color: #353535;
}

.forum_content .first {
	background-color:#A0A0A0;
	padding: 10px 0 10px 0;
}
.forum_content .first .td_header {
	padding: 0 20px 0 20px;
	font-weight: bold;
}
.forum_content .active {
	font-weight: bold;
}
.post_content .thread .mod_links, .forum_content .thread .mod_links {
	float: right;
	visibility: hidden;
	display: none;
}
.post_content .thread:hover .mod_links, .forum_content .thread:hover .mod_links {
	float: right;
	visibility: visible;
	display: inline;
}
.forum_content .forum_description {
	font-style: italic;
}
.forum_content .first .latest {
	font-weight: bold;
	float:right;
	padding: 0 110px 0 0;
}
.forum_content {
	width: 100%;
	float:left;
	padding: 10px 0 10px 0;
	background-color:#B0B0B0;
	min-height:50px;
	color: #333333;
}
.forum_content .last_overflowed {
	width: 200px;
	color: #FFFFFF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.forum_content a{
	color: #FFFFFF;
}
.forum_content .td {
	padding: 0 20px 0 20px;
}
.forum_content .td2{
	padding: 0 20px 0 0;
}
.forum_content .td3{
	padding: 20px 20px 20px 20px;
}

.forum_content .dotted{
	border-bottom: 1px dotted #FFF; 
}
.post_content {
	width: 100%; 
	border: 1px solid #E0E0E0;
	min-height:50px;
	color: #333333;
	float: left;
}
.post_content .post_container {
	text-align: left;
	width: 465px;
	margin: 15px 0 15px 0;
}
.post_content .post_input {
	width: 450px;
	min-width: 450px;
	max-width: 450px;
	min-height: 150px;
	max-height: 450px;
	height: 150px;
	margin: 0;
	vertical-align:text-top;
}
.post_content td {
	border: 1px solid #E0E0E0;
}
.post_content .table_title {
	padding: 10px 10px 10px 10px;
	color: #FFFFFF;
	font-weight: bold;
}

.post_content .table_user {
	padding: 5px 10px 5px 10px;
	font-weight: bold;
}

.post_content .table_text {
	text-align: justify;
	vertical-align:text-top;
	padding: 10px 10px 10px 10px;
}
.post_content .hr_line { 
	border-top: 1px dotted #B0B0B0; 
	width: 100%; 
	padding: 2px;
}
.post_content .post_user_content {
	margin: 10px;
}

